# Werkcollege-opdrachten Week 1.1

## Maak een virtual environment

Zorg dat je met behulp van de handleiding *Bouw en gebruik van virtual environments - Handleiding* een virtual environment hebt gemaakt, dat jou en je duopartner garandeert altijd dezelfde versie van geïmporteerde dependencies te gebruiken.<br>
Voeg hier vervolgens de pandas- en de sqlite3-dependency aan toe.<br>
Als je dit allemaal goed hebt gedaan moet de onderstaande code bij jullie allebei succesvol runnen:

In [3]:
import pandas as pd
import sqlite3 as sql
import warnings
warnings.simplefilter('ignore')

N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

Zorg er daarnaast voor dat je...
- Het bestand Waarheidstabel.png in dezelfde map als dit notebook hebt staan.
- Het bestand Prinstabel.png in dezelfde map als dit notebook hebt staan.
- Alle informatie onder het kopje *Basisoperaties* van de cheatsheet *Van Java naar Python - Cheatsheet* bij de hand hebt.

## Output, variabelen en input

Geef code waarmee het volgende op het scherm komt te staan:<br>
geef me je geld <br>
of ik gebruik geweld, <br>
toen kwam de controle aangesneld

In [ ]:
print("geef me je geld \nof ik gebruik geweld, \ntoen kwam de controle aangesneld")

Declareer 2 variabelen zodat de volgende tekst geprint wordt:<br>
Apenhoofd<br>
Paardenstaart

In [ ]:
woord1 = "ApenHoofd"
woord2 = "PaardenStaart"
print(woord1)
print(woord2)

Voeg code toe zodat het programma het volgende doet:<br>
1): Op het scherm komt A, B, C, D, ..., F, G te staan<br>
2): De gebruiker voert een letter in<br>
3): Op het scherm komt te staan:<br>
Het is inderdaad:<br>
*ingevoerde letter*

In [ ]:

if str(input("A, B, C, D, ..., F, G")) == "E":
    print("Het is inderdaad, E.")
else:
    print("je hebt het FOUTTT")

## Stringconcatenatie en Rekenen

Schrijf code dat een inkomen inleest en het volgende uitprint:<br>
Uw inkomen (*ingelezen inkomen*) is zeer acceptabel.

In [ ]:
fart = float(input("Wat is uw inkomen?"))
print("Uw inkomen " + str(fart) + " is zeer acceptabel.")

De oppervlakte van een driehoek is 1/2 * hoogte * basis<br>
Schrijf code zodat het programma het volgende doet:<br>
1): Op het scherm komt Wat is de basis? te staan<br>
2): De gebruiker voert een basis in<br>
3): Op het scherm komt Wat is de hoogte? te staan<br>
4): De gebruiker voert een hoogte in<br>
5): Op het scherm komt: De oppervlakte van de driehoek is *berekende oppervlakte* te staan

In [ ]:
num1 = float(input("Wat is de basis?"))
num2 = float(input("Wat is de hoogte?"))
print("De oppervlakte van de driehoek is " + str(num1*num2))

## if() en booleans

Schrijf code dat het volgende doet:<br>
1): De gebruiker voert in hoe oud iemand is<br>
2): De gebruiker voert in of de ouders meegekomen zijn (input is J of N)<br><br>

Als...
- Jonger dan 6, wel ouders: op het scherm staat Je mag het zwembad in
- Jonger dan 6, geen ouders: op het scherm staat Je mag het niet zwembad in
- Leeftijd vanaf 6, geen ouders: op het scherm staat Je mag het zwembad in als je een diploma hebt
- Leeftijd vanaf 6, wel ouders: op het scherm staat Waarom neem je nog je ouders mee?

In [ ]:
defstring = "Je mag het zwembad "
age = int(input("Hoe oud ben je?"))
ouders = str(input("Heb je ouders? (Y/N)"))
if age < 6 and ouders.upper() == "Y":
    print(defstring + "in")
elif age < 6 and ouders.upper() == "N":
    print(defstring + "niet in")
elif age >= 6 and ouders.upper() == "Y":
    print("Waarom neem je nog je ouders mee?")
elif age >= 6 and ouders.upper() == "N":
    print(defstring + "als je een zwemdiploma hebt")

Schrijf code zodat de boolean-variabelen een en twee aangemaakt worden en waarmee de juiste waarde in de boolean-variabele uitkomst komt te staan. In de waarheidstabel hieronder staat wat de waarde van uitkomst is bij de verschillende mogelijke combinaties van een en twee.<br><br>
<img src="Waarheidstabel.png">

In [ ]:
een: bool = True
twee: bool = False
uitkomst: bool = not een or twee

print(str(uitkomst))

## Functies

Schrijf een methode wachtwoord die als parameters twee woorden meekrijgt en het volgende controleert:
- Als de woorden gelijk zijn, print het programma gelijk.
- Als de woorden ongelijk zijn print het programma ongelijk.

Vergeet niet dat je de methode niet alleen aan moet maken, maar ook aan moet roepen om output te krijgen.

In [ ]:
def wachtwoord(woord1, woord2):
    if woord1 == woord2:
        print("gelijk")
    else:
        print("ongelijk")
wachtwoord("appel", "appel")

Schrijf de methode zoekPrins die als parameter een prinses meekrijgt en vervolgens de bijbehorende prins oplevert, volgens de volgende tabel:<br><br>
<img src="Prinstabel.png"><br>
Als de naam van de prinses niet in de tabel staat wordt het volgende door de methode teruggegeven: naamloos.<br>
Roep ten slotte de gemaakte methode ook daadwerkelijk aan met een zelfgekozen prinsessennaam.

In [ ]:
# dict practice :D

def zoekPrins(prinses):
    koppelingen = {
        "Aurora": "Philip",
        "Ariël": "Eric",
        "Jasmine": "Aladdin",
        "Pocahontas": "John",
        "Belle": "Beast",
        "Tiana": "Naveen",
        "Mulan": "Shang"
    }

    return print(koppelingen.get(prinses, "naamloos"))

zoekPrins("Tiana")

## While-loop

Schrijf de inhoud van de methode wachtwoord. Deze heeft geen parameters en laat de gebruiker twee wachtwoorden invoeren, waarna hij bekijkt of deze gelijk zijn. Zolang dat niet het geval is wordt er eerst Fout, probeer het opnieuw! uitgeprint en moet de gebruiker het opnieuw proberen.<br>Als de gebruiker het goed doet, komt er Succes! op het scherm te staan.

In [ ]:
def wachtwoord():
    while True:
        woord1 = input("Voer het eerste woord in")
        woord2 = input("Voer het tweede woord in")

        if woord1 == woord2:
            print("Succes!")
            break
        else:
            print("Fout, probeer opnieuw.")

wachtwoord()

Schrijf de inhoud van de methode tafels. De methode print alle tafels vanaf 1 (dus inclusief de tafel van 1) tot en met de tafel van het meegekregen getal (dus inclusief de tafel van getal).  Zet een witregel tussen alle tafels in. <br>
Let op:
- Gebruik een while-loop
- Gebruik de reeds geschreven methode tafel om een tafel uit te printen

In [ ]:
def tafel(getal: int):
    teller: int = 1

    while(teller <= 10):
        print(f'{teller} x {getal} = {teller * getal}')
        teller += 1

def tafels(a: int): 
    teller: int = 1

    while (teller <= a):
        tafel(teller)
        print("")
        teller+=1

x: int = int(input())
tafels(x)

## For-loop

Vervang de while-loop door een werkende for-loop. De uitkomst van het programma mag daarbij niet veranderen.

In [ ]:
def loopje():

    aantal = 0

    for aantal in range(0, 11):
        print(f"huidige getal: {aantal}")
        aantal += 1

loopje()

Schrijf de methode checkEven die achtereenvolgens 12 getallen inleest en afdrukt hoe vaak het ingevoerde getal even was.

In [ ]:
def checkEven():
    a = 0

    for x in range(1, 13):
        y = int(input(f"Voer getal {x} in " ))
        if y % 2 == 0:
            a+=1
    print(f"Er waren {a} getallen even.")

checkEven()

## Objectoriëntatie

Maak een minisysteem voor een kledingwinkel. Maak verschillende klassen voor verschillende soorten kledingstukken, waarbij sommige klassen geërfd worden van andere klassen.
- Maak een klasse Kledingstuk aan, waarin door de constructor een merk, een maat en een prijs geïnitialiseerd worden.
- Maak een klasse Broek en een klasse Shirt, beide erven van de klasse Kledingstuk. Voeg aan Broek een broek_type, en aan Shirt een shirt_type toe (d.m.v. constructorgebruik).
- Maak een klasse Spijkerbroek die erft van broek en een klasse Poloshirt die erft van shirt. Voeg aan Spijkerbroek een blauwtint toe, en aan Poloshirt een kraagsoort (d.m.v. constructorgebruik).
- Implementeer in elke klasse een beschrijvingmethode, waarmee alle informatie over het betreffende kledingstuk wordt afgedrukt.
- Maak van elke klasse een object aan en roep de beschrijvingmethode aan. Controleer nauwkeurig of alles naar behoren werkt.

In [ ]:
class Kledingstuk: 
    def __init__(self, merk, maat, prijs):
        self.merk = merk
        self.maat = maat
        self.prijs = prijs

    def beschrijving(self):
        print(f"Merk: {self.merk}, Maat: {self.maat}, Prijs: €{self.prijs}")

class Shirt(Kledingstuk):
    def __init__(self, merk, maat, prijs, shirt_type): 
        super().__init__(merk, maat, prijs)
        self.shirt_type = shirt_type

    def beschrijving(self):
        super().beschrijving()
        print(f"Shirt type: {self.shirt_type}")


class Broek(Kledingstuk):
    def __init__(self, merk, maat, prijs, broek_type):
        super().__init__(merk, maat, prijs)
        self.broek_type = broek_type

    def beschrijving(self):
        super().beschrijving()
        print(f"Broek type: {self.broek_type}")


class Spijkerbroek(Broek):
    def __init__(self, merk, maat, prijs, broek_type, blauwtint):
        super().__init__(merk, maat, prijs, broek_type)
        self.blauwtint = blauwtint

    def beschrijving(self):
        super().beschrijving()
        print(f"Blauwtint: {self.blauwtint}")


class Poloshirt(Shirt):
    def __init__(self, merk, maat, prijs, shirt_type, kraagsoort):
        super().__init__(merk, maat, prijs, shirt_type)
        self.kraagsoort = kraagsoort

    def beschrijving(self):
        super().beschrijving()
        print(f"Kraagsoort: {self.kraagsoort}")


kleding = Kledingstuk("H&M", "M", 29.99)
kleding.beschrijving()

broek = Broek("Levi's", "32", 89.99, "Chino")
broek.beschrijving()

shirt = Shirt("Tommy", "L", 49.99, "T-shirt")  
shirt.beschrijving()

spijker = Spijkerbroek("Levi's", "30", 119.99, "Slim fit", "Donkerblauw")
spijker.beschrijving()

polo = Poloshirt("Lacoste", "M", 79.99, "Polo", "Klassieke kraag") 
polo.beschrijving()

## Verzamelingen

Kijk nu naar alle info onder het kopje *Verzamelingen* van de cheatsheet *Van Java naar Python - Cheatsheet*.

Initialiseer een lijst met de naam mijn_lijst met de volgende waarden:<br>
Jelle, Marleen, Henk, Fatima, Jelle, Henk

In [ ]:
mijn_lijst = ["Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk"]

for naam in mijn_lijst:
    print(naam)

Probeer nu de eerste waarde uit te lijst te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
mijn_lijst = ["Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk"]
mijn_lijst[0] = "fart"
for naam in mijn_lijst:
    print(naam)

Maak van bovengenoemde lijst nu een tupel, genaamd: mijn_tupel.

In [ ]:
mijn_lijst = ("Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk")
print(mijn_lijst)

Probeer nu de laatste waarde uit te tupel te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
mijn_tuple = ("Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk")

mijn_tuple[len(mijn_tuple)] = "jan" # WHOAAA HIJ WERKT NIET WANT ITEMS IN EEN TUPLE ZIJN IMMUTABLE!

print(mijn_tuple)

Initialiseer een dictionary met de volgende key-value-combinaties:
- naam: "Jelle"
- leeftijd: 30
- beroep: "Docent"
- hobby: "Volleybal"

In [ ]:
mijn_dict = {
    "naam": "Jelle",
    "leeftijd": 30,
    "beroep": "Docent",
    "hobby": "Volleybal"
}

print(mijn_dict)
print(mijn_dict["naam"])

Probeer nu de naam te veranderen naar een naam naar keuze. Lukt dat?

In [ ]:
mijn_dict = {
    "naam": "Jelle",
    "leeftijd": 30,
    "beroep": "Docent",
    "hobby": "Volleybal"
}
mijn_dict.update(naam="BLEBLEBLE")
print(mijn_dict)

## Data klaarzetten

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales.sqlite
- go_crm.sqlite
- go_staff.sqlite

Bestudeer de bovenste 3 bestanden met DB Browser (SQLite) dat <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden is. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite. Let op: deze staat in de map "data", die op zijn beurt in de hoofdmap staat. Tip: met `"../"` in `connect()` kun je naar de bovenliggende map gaan.

In [ ]:
con = sql.connect("go_crm.sqlite")

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
cur = con.cursor()
cur.execute(sql_query)
resultaten = cur.fetchall()

for tabel in resultaten:
    print(tabel[0])
con.close() # altijd handig om te doen!

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <b>Let goed op:</b> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [ ]:
con = sql.connect("go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"

resultaten = pd.read_sql(sql_query, con) # pandas is een amazing library

print(resultaten)
con.close() # nogmaals handig om te doen

## Datumkolommen afhandelen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [ ]:
resultaten['DATE_HIRED'] = pd.to_datetime(resultaten['DATE_HIRED'])
resultaten.dtypes

Als we hier het jaar uit willen halen, schrijven we:

In [ ]:
pd.DatetimeIndex(resultaten['DATE_HIRED']).year

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
a = pd.read_sql(sql_query, con)

sales_staff_code, work_phone, extension, fax, email = [
    a[col] for col in ['SALES_STAFF_CODE', "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]

print(type(a))  # dataframe
print(type(sales_staff_code))  # series! muahaha

con.close() # say it with me folks, IT'S. GOOD. PRACTICE!!!

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
a = pd.read_sql(sql_query, con)

sales_staff_code, work_phone, extension, fax, email = [
    a[col] for col in ['SALES_STAFF_CODE', "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]

contact_details = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)

print(contact_details)
con.close() # hoef ik dit nog verder uit te leggen?

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
a = pd.read_sql(sql_query, con)

sales_staff_code, work_phone, extension, fax, email = [
    a[col] for col in ['SALES_STAFF_CODE', "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]

contact_details = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)
contact_details = contact_details.head(5)


print(contact_details)
print(type(contact_details)) # <class 'pandas.DataFrame'> dus technisch gezien wel een dataframe
con.close() # hoef ik dit nog verder uit te leggen?

Aan deze 5 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
a = pd.read_sql(sql_query, con)
firstlang = ["EN"] * 5
fls = pd.Series(firstlang, name="FIRST_LANGUAGE")

sales_staff_code, work_phone, extension, fax, email = [
    a[col] for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]

df = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)
df = pd.concat([df, fls], axis=1)
df = df.head(5)


print(df)
con.close() # hoef ik dit nog verder uit te leggen?

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
columns = pd.read_sql(sql_query, con)

sales_staff_code, work_phone, extension, fax, email = [
    columns[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)

firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'} met zip (doet 2 lists in keys & values doen, en df.index = 5)
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

df = pd.concat([df, fll, sld], axis=1)

print(df)
con.close() # hoef ik dit nog verder uit te leggen?

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)

sales_staff_code, work_phone, extension, fax, email = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)

firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}. zip maakt tuples van df.index en 1. en omdat het in pairs zijn, kun je dict() gebruiken om van die 5 tuples een dict te maken.
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

thirdlang_dict = {"THIRD_LANGUAGE": ['NL', 'NL', 'JPN', 'JPN', 'KOR']} # werkt omdat dataframe automatisch de key de naam maakt.
tld = pd.DataFrame(thirdlang_dict) #                                        ^^ hier

df = pd.concat([df, fll, sld, tld], axis=1)

print(df)
con.close() # hoef ik dit nog verder uit te leggen?

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)

new_sales_staff_member = pd.DataFrame({
    "SALES_STAFF_CODE": ["99"],
    "WORK_PHONE": ["+33 1 68 94 52 20"],
    "EXTENSION": ["+33 1 68 94 56 60"],
    "FAX": ["141"],
    "EMAIL": ["test@test.nl"],
    "FIRST_LANGUAGE": ["NL"],
    "SECOND_LANGUAGE": ["EN"],
    "THIRD_LANGUAGE": ["DE"]
})


sales_staff_code, work_phone, extension, fax, email = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)

firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}. zip maakt tuples van df.index en 1. en omdat het in pairs zijn, kun je dict() gebruiken om van die 5 tuples een dict te maken.
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

thirdlang_dict = {"THIRD_LANGUAGE": ['NL', 'NL', 'JPN', 'JPN', 'KOR']} # werkt omdat dataframe automatisch de key de naam maakt.
tld = pd.DataFrame(thirdlang_dict) #                                        ^^ hier

df = pd.concat([df, fll, sld, tld], axis=1)
df = pd.concat([df, new_sales_staff_member], axis=0, ignore_index=True) # axis=0 voor REGEL (geen column) en ignore_index=True om de index door te laten lopen

print(df)
con.close() # hoef ik dit nog verder uit te leggen?

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)
new_sales_staff_member = pd.DataFrame({
    "SALES_STAFF_CODE": ["99"],
    "WORK_PHONE": ["+33 1 68 94 52 20"],
    "EXTENSION": ["+33 1 68 94 56 60"],
    "FAX": ["141"],
    "EMAIL": ["test@test.nl"],
    "FIRST_LANGUAGE": ["NL"],
    "SECOND_LANGUAGE": ["EN"],
    "THIRD_LANGUAGE": ["DE"]
})


sales_staff_code, work_phone, extension, fax, email, first_name, last_name = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL", "FIRST_NAME", "LAST_NAME"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email, first_name, last_name], axis=1)

firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}. zip maakt tuples van df.index en 1. en omdat het in pairs zijn, kun je dict() gebruiken om van die 5 tuples een dict te maken.
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

thirdlang_dict = {"THIRD_LANGUAGE": ['NL', 'NL', 'JPN', 'JPN', 'KOR']} # werkt omdat dataframe automatisch de key de naam maakt.
tld = pd.DataFrame(thirdlang_dict) #                                        ^^ hier

df["FULL_NAME"] = first_name + " " + last_name

df = pd.concat([df, fll, sld, tld], axis=1)
df = pd.concat([df, new_sales_staff_member], axis=0, ignore_index=True) # axis=0 voor REGEL (geen column) en ignore_index=True om de index door te laten lopen

print(df)
con.close() # hoef ik dit nog verder uit te leggen?

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [4]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)

sales_staff_code, work_phone, extension, fax, email, first_name, last_name = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL", "FIRST_NAME", "LAST_NAME"]
]

df = pd.concat([sales_staff_code, work_phone, extension, fax, email, first_name, last_name])

print(df.dtypes)
con.close() # hoef ik dit nog verder uit te leggen?

object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)
new_sales_staff_member = pd.DataFrame({
    "FIRST_NAME": ["Jan"],
    "LAST_NAME": ["Peterson"],
    "FULL_NAME": ["Jan Peterson"],  # <-- moet toegevoegd worden omdat new_sales_staff_member omdat  df["FULL_NAME"] wordt opgeroepen voordat dit object is opgeroepen
    "SALES_STAFF_CODE": ["99"],
    "WORK_PHONE": ["+33 1 68 94 52 20"],
    "EXTENSION": ["+33 1 68 94 56 60"],
    "FAX": ["141"],
    "EMAIL": ["test@test.nl"],
    "FIRST_LANGUAGE": ["NL"],
    "SECOND_LANGUAGE": ["EN"],
    "THIRD_LANGUAGE": ["DE"]
})

sales_staff_code, work_phone, extension, fax, email, first_name, last_name = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL", "FIRST_NAME", "LAST_NAME"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email, first_name, last_name], axis=1)
df['EXTENSION'] = df['EXTENSION'].astype(float) + 1
df["FULL_NAME"] = first_name + " " + last_name

firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}. zip maakt tuples van df.index en 1. en omdat het in pairs zijn, kun je dict() gebruiken om van die 5 tuples een dict te maken.
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

thirdlang_dict = {"THIRD_LANGUAGE": ['NL', 'NL', 'JPN', 'JPN', 'KOR']} # werkt omdat dataframe automatisch de key de naam maakt.
tld = pd.DataFrame(thirdlang_dict) #                                        ^^ hier

df = pd.concat([df, fll, sld, tld], axis=1)
df = pd.concat([df, new_sales_staff_member], axis=0, ignore_index=True) # axis=0 voor REGEL (geen column) en ignore_index=True om de index door te laten lopen

print(df)
con.close() # hoef ik dit nog verder uit te leggen?

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)
new_sales_staff_member = pd.DataFrame({
    "FIRST_NAME": ["Jan"],
    "LAST_NAME": ["Peterson"],
    "FULL_NAME": ["Jan Peterson"],  # <-- moet toegevoegd worden omdat new_sales_staff_member omdat  df["FULL_NAME"] wordt opgeroepen voordat dit object is opgeroepen
    "SALES_STAFF_CODE": ["99"],
    "WORK_PHONE": ["+33 1 68 94 52 20"],
    "EXTENSION": ["+33 1 68 94 56 60"],
    "FAX": ["141"],
    "EMAIL": ["test@test.nl"],
    "FIRST_LANGUAGE": ["NL"],
    "SECOND_LANGUAGE": ["EN"],
    "THIRD_LANGUAGE": ["DE"]
})

sales_staff_code, work_phone, extension, fax, email, first_name, last_name = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL", "FIRST_NAME", "LAST_NAME"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email, first_name, last_name], axis=1)
df['EXTENSION'] = df['EXTENSION'].astype(float) + 1
df["FULL_NAME"] = first_name + " " + last_name

firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}. zip maakt tuples van df.index en 1. en omdat het in pairs zijn, kun je dict() gebruiken om van die 5 tuples een dict te maken.
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

thirdlang_dict = {"THIRD_LANGUAGE": ['NL', 'NL', 'JPN', 'JPN', 'KOR']} # werkt omdat dataframe automatisch de key de naam maakt.
tld = pd.DataFrame(thirdlang_dict) #                                        ^^ hier

df = pd.concat([df, fll, sld, tld], axis=1)
df = pd.concat([df, new_sales_staff_member], axis=0, ignore_index=True) # axis=0 voor REGEL (geen column) en ignore_index=True om de index door te laten lopen

print(df)
con.close() # hoef ik dit nog verder uit te leggen?

  SALES_STAFF_CODE         WORK_PHONE          EXTENSION                FAX  \
0                4  +33 1 68 94 52 20              326.0  +33 1 68 94 56 60
1                5  +33 1 68 94 52 20              337.0  +33 1 68 94 56 60
2                6  +33 1 68 94 52 20              379.0  +33 1 68 94 56 60
3                7  +33 1 68 94 52 20              399.0  +33 1 68 94 56 60
4               12  +(49) 40 663 1990             1819.0  +(49) 40 663 4571
5               99  +33 1 68 94 52 20  +33 1 68 94 56 60                141

                    EMAIL FIRST_NAME  LAST_NAME          FULL_NAME  \
0       DPage@grtd123.com      Denis       Pagé         Denis Pagé
1     EMichel@grtd123.com  Élizabeth     Michel   Élizabeth Michel
2   EClermont@grtd123.com      Émile   Clermont     Émile Clermont
3     EJauvin@grtd123.com    Étienne     Jauvin     Étienne Jauvin
4  EWiesinger@grtd123.com    Elsbeth  Wiesinger  Elsbeth Wiesinger
5            test@test.nl        Jan   Peterson       Jan Peterson

  FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0             EN              FR             NL
1             EN              FR             NL
2             EN              FR            JPN
3             EN              DE            JPN
4             EN              DE            KOR
5             NL              EN             DE

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [ ]:
con = sql.connect("../Data/go_sales.sqlite")
sql_query = "SELECT * FROM sales_staff;"
sales_staff = pd.read_sql(sql_query, con)
new_sales_staff_member = pd.DataFrame({
    "FIRST_NAME": ["Jan"],
    "LAST_NAME": ["Peterson"],
    "FULL_NAME": ["Jan Peterson"],  # <-- moet toegevoegd worden omdat new_sales_staff_member omdat  df["FULL_NAME"] wordt opgeroepen voordat dit object is opgeroepen
    "SALES_STAFF_CODE": ["99"],
    "WORK_PHONE": ["+33 1 68 94 52 20"],
    "EXTENSION": ["+33 1 68 94 56 60"],
    "FAX": ["141"],
    "EMAIL": ["test@test.nl"],
    "FIRST_LANGUAGE": ["NL"],
    "SECOND_LANGUAGE": ["EN"],
    "THIRD_LANGUAGE": ["DE"]
})

sales_staff_code, work_phone, extension, fax, email, first_name, last_name, position_en = [
    sales_staff[col].head(5) for col in ["SALES_STAFF_CODE", "WORK_PHONE", "EXTENSION", "FAX", "EMAIL", "FIRST_NAME", "LAST_NAME", "POSITION_EN"]
]
df = pd.concat([sales_staff_code, work_phone, extension, fax, email, first_name, last_name], axis=1)
df['EXTENSION'] = df['EXTENSION'].astype(float) + 1
df["FULL_NAME"] = first_name + " " + last_name


firstlang_list = ["EN"] * 5
fll = pd.Series(firstlang_list, name="FIRST_LANGUAGE")

secondlang_values = ["FR"] * 3 + ["DE"] * 2 # ["FR", "FR", "FR"] etc opschrijven is irritant.
secondlang_dict = dict(zip(df.index, secondlang_values)) # wordt {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}. zip maakt tuples van df.index en 1. en omdat het in pairs zijn, kun je dict() gebruiken om van die 5 tuples een dict te maken.
sld = pd.Series(secondlang_dict, name="SECOND_LANGUAGE")

thirdlang_dict = {"THIRD_LANGUAGE": ['NL', 'NL', 'JPN', 'JPN', 'KOR']} # werkt omdat dataframe automatisch de key de naam maakt.
tld = pd.DataFrame(thirdlang_dict) #                                        ^^ hier

df = pd.concat([df, fll, sld, tld], axis=1)
df = pd.concat([df, new_sales_staff_member], axis=0, ignore_index=True) # axis=0 voor REGEL (geen column) en ignore_index=True om de index door te laten lopen

print(df)
print(df['POSITION_EN'])
con.close() # hoef ik dit nog verder uit te leggen?

  SALES_STAFF_CODE         WORK_PHONE          EXTENSION                FAX  \
0                4  +33 1 68 94 52 20              326.0  +33 1 68 94 56 60
1                5  +33 1 68 94 52 20              337.0  +33 1 68 94 56 60
2                6  +33 1 68 94 52 20              379.0  +33 1 68 94 56 60
3                7  +33 1 68 94 52 20              399.0  +33 1 68 94 56 60
4               12  +(49) 40 663 1990             1819.0  +(49) 40 663 4571
5               99  +33 1 68 94 52 20  +33 1 68 94 56 60                141

                    EMAIL FIRST_NAME  LAST_NAME          FULL_NAME  \
0       DPage@grtd123.com      Denis       Pagé         Denis Pagé
1     EMichel@grtd123.com  Élizabeth     Michel   Élizabeth Michel
2   EClermont@grtd123.com      Émile   Clermont     Émile Clermont
3     EJauvin@grtd123.com    Étienne     Jauvin     Étienne Jauvin
4  EWiesinger@grtd123.com    Elsbeth  Wiesinger  Elsbeth Wiesinger
5            test@test.nl        Jan   Peterson       Jan Peterson

  FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0             EN              FR             NL
1             EN              FR             NL
2             EN              FR            JPN
3             EN              DE            JPN
4             EN              DE            KOR
5             NL              EN             DE

KeyError: 'POSITION_EN'

## Data verwijderen

### Rijen

De medewerkers op indexen 98, 99 en 100 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.